<form class="ui stacked segment form" action="/about/addcomment" method="POST" enctype="multipart/form-data">
    <div class="field">
      <label>Leave a Comment for the Developers!</label>
       <input placeholder="Comment" type="text" name="title" autofocus required>
    </div>

  <button class="ui blue submit button">Submit Comment</button>
</form>