<nav class="ui menu">
  <header class="ui header item">
    <img class="ui small circular image" src="https://cdn.glitch.global/b9cc1a15-f17d-4579-b9fb-0c8a17afc6a6/movie-app-icon-0.jpg?v=1651324193124" id = "logo">
    <span><a href="/start"> Movie Collection App </a></span></header>
  <div class="right menu">
    <span class="name">{{fullname}}</span>
    <span class="profilepic"><img src="{{picture}}" class="ui avatar image"></span>
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="statistics" class="item" href="/statistics"> Statistics </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>