<h3 class="ui center aligned header">The Movie Collection App now contains:</h3>
<div class="ui three statistics">

    <div class="ui huge statistic">
        <div class="value">
            {{totalCollections}}
        </div>
        <div class="label">
            Movie Collections
        </div>
    </div>
  
    <div class="ui huge statistic">
        <div class="value">
            {{totalMovies}}
        </div>
        <div class="label">
            Movies
        </div>
  </div>
  
  <div class="ui huge statistic">
        <div class="value">
            {{averageMovies}}
        </div>
        <div class="label">
            Average Movies Across all Users
        </div>
    </div>
  
</div>