<h3 class="ui center aligned header">Your Collection App now contains:</h3>
<div class="ui three statistics">
  
    <div class="ui huge statistic">
        <div class="value">
            {{numUserCollections}}
        </div>
        <div class="label">
            Your Total Amount of Collections
        </div>
    </div>
  
    <div class="ui huge statistic">
        <div class="value">
            {{numUserMovies}}
        </div>
        <div class="label">
            Your Total Amount of Movies
        </div>
    </div>
  
  <div class="ui huge statistic">
        <div class="value">
            {{averageUserMovies}}
        </div>
        <div class="label">
            Average Movies In Your Collections
        </div>
    </div>
</div>