{{> welcomemenu }}
<!-- First page you see upon visiting the site -->
<body id="indexpage" >
<section class="ui center aligned middle aligned segment" >
  <h1 class="ui header"> Welcome to the Movie Collection App!</h1>
  <p> Sign up or Log in to get started!</p>
</section>
</body>