{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2 class="ui header">
    Your Collection Statistics!
  </h2>
  {{> userstatistics}}
</section>

  <section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
   Overall Collection Statistics!
  </h2>
  {{> totalstatistics}}  
</section>
